body {
  font-family: sans-serif;
  background-color: whitesmoke;
  font-size: 1rem
}

#productParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1vw;
  text-align: center;
  justify-content: center;
}

#confirmParent {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 310px;
  margin-right: 310px;
  border: solid 0.6em;
  border-color: #79AEA3;
  padding: 4%;
}


#navBar {
  display: flex;
  justify-content: space-around;
}

#currentAvail {
  text-align: center;
  font-size: 2rem;
}

#shroomNames {
  font-size: 1.5rem
}

#singleMushroomName {

}

#singleMushroomHeader{
  text-align: center;
  min-width: 300px;
}

.singleProductView {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  margin-left: 10vw;
  align-items: flex-start;
  /* margin-bottom: 10vh; */
}

#singleProductViewImage {
  background-color: #A44A3F;
  height: auto;
  width: 35%;
  min-width: 250px;
  max-width: 350px;
}

#singleMushroomText {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin: 0;
}

.singleMushroomButton {
  height: 5vh;
  width: 10vw;
  min-width: 80px;
  min-height: 20px;
  margin-left: 10vw;
  display: flex;
  justify-content: space-evenly;
}

.allProducts {
  margin: .5%;
  font-size: 1em;
  background-color: #79AEA3;
  width: 20vw
}

.placeholderImage {
  height: auto;
  width: 15vw;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a, #logged-in {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* admin dropdown styles */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
