body {
  font-family: sans-serif;
  background-color: whitesmoke;
  font-size: 1rem
}

#productParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1vw;
  text-align: center;
  justify-content: center;
}

#confirmParent {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 310px;
  margin-right: 310px;
  border: solid 0.6em;
  border-color: #79AEA3;
  padding: 4%;
}


#navBar {
  display: flex;
  justify-content: space-around;
}

#currentAvail {
  text-align: center;
  font-size: 2rem;
}

#shroomNames {
  font-size: 1.5rem
}

#singleMushroomName {

}

#singleMushroomHeader{
  text-align: center;
  min-width: 300px;
}

.singleProductView {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  margin-left: 10vw;
  align-items: flex-start;
  /* margin-bottom: 10vh; */
}

#singleProductViewImage {
  background-color: #A44A3F;
  height: auto;
  width: 35%;
  min-width: 250px;
  max-width: 350px;
}

#singleMushroomText {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin: 0;
}

#singleMushroomAddCartButton {
height: 5vh;
width: 10vw;
min-width: 80px;
min-height: 20px;
margin-left: 10vw;
}

.allProducts {
  margin: .5%;
  font-size: 1em;
  background-color: #79AEA3;
  width: 20vw
}

.placeholderImage {
  height: auto;
  width: 15vw;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a, #logged-in {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
